<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %>
<body>
    <div id="container"></div>
        <h1><%=budget.name%></h1>
        <form action='/budgets'>
            <input type="submit" value="BACK"/>
        </form>
        <table>
            <h5>DATE</h5>
            <p><%= budget.date %></p>
            <h4>NAME</h4>
            <p><%= budget.name %></p>
            <h4>FROM</h4>
            <p><%= budget.from %></p>
            <h4>AMOUNT</h4>
            <p><%= budget.amount %></p>
            <h4>TAGS</h4>
            <p><%= budget.tags %></p>
        </table> 
    </div>
</body>
</html>